@inherits LayoutComponentBase
@using Rummy.App.Model;

<div class="grid">
    <header></header>
</div>

@code {
    string PlayerToBeRemoved = "";

    private async void Confirm(PlayerDto playerDto)
    {
        Console.WriteLine("Here");
    }
}